@model StudentsData.Application.ViewModels.Create.GroupCreateViewModel
@{
    ViewData["Title"] = "Створення групи";
}
<h1>Створення</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Group">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateStartEdu" class="control-label"></label>
                <input asp-for="DateStartEdu" class="form-control" />
                <span asp-validation-for="DateStartEdu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateEndEdu" class="control-label"></label>
                <input asp-for="DateEndEdu" class="form-control" />
                <span asp-validation-for="DateEndEdu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}