@{
    ViewData["Title"] = "Про нас";
}
<h1>Інформація про нас</h1>

<h3>
    Деяка <strong>інформація</strong> про нас
</h3>
<div>
    Соціальні мережі
    <div>
        <a href="https://t.me/StudentsDataDUTBot" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/1024px-Telegram_logo.svg.png" height="50" width="50" alt="Telegram"/>
        </a>
    </div>
</div>
<div>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSePQtYx-J_QF_-yV1D9cDIoa0ziLTYoqSwbleDr1C0QdDpfZg/viewform?embedded=true" width="640" height="1074" frameborder="0" marginheight="0" marginwidth="0">Завантаження…</iframe>
</div>